<div class="nav">
    <button id="mypage" onclick="toggleMyPage()">My Page</button>
    <button id="calendar" onclick="toggleCalendar()" >Calendar</button>
    <button id="statistic" onclick="toggleStats()">Statistic</button>
    <button id="help" onclick="toggleHelp()">Help</button>
    <div class="login-logo">
        <img src="https://yt3.ggpht.com/ytc/AKedOLTeTjvVBREjExQnXdYfIaiG7EVHGwtM5vb_rijlHQ=s900-c-k-c0x00ffffff-no-rj"  alt="Login Logo">
        <h1>Login</h1>
      </div>
    <%- include ('functions') %>
</div>  
<%-include ('calendar') %>